{% extends "base.html" %}

{% block content %}
    <article>
        <h1>{{ page.title }}</h1>

        <div class="py-0.5 px-4 my-3 rounded-xl border-double border-s-4">
            <nav>
                <ul class="ml-0 list-none">
                    {% for parent in page.toc %}
                        {% if parent.level == 2 %}
                            <li>
                                {#- -#}
                                <a href="{{ parent.permalink | safe }}">{{ parent.title }}</a>
                                {#- -#}
                                {% if parent.children %}
                                    <ul class="my-0 ml-5 list-none">
                                        {% for child in parent.children %}
                                            {% if child.level == 3 %}
                                                <li>
                                                    {#- -#}
                                                    <a class="text-base" href="{{ child.permalink | safe }}">{{ child.title }}</a>
                                                    {#- -#}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {#- -#}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>

        {{ page.content | safe }}
    </article>
{% endblock %}
